.textCenter{text-align: center;}
.card-main{background-color: #153979;}
.maxwidth-50{max-width: 50%;}
.clicker   {cursor: pointer; }
.hoverstyle{transition: padding 0.5s ease}
.hoverstyle:hover { background-color: #fff8dc; padding: 0px 10px; color: black; border-radius: 4px;font-weight: 800;}
.card-head { padding: 0.5rem 1.2rem; color: white; transition: background-color 0.4s ease}
.card-head:hover{font-weight: 800; background-color: #fff8dc; color: black;}
.card-close {cursor: pointer; display: flex; margin: 0!important; float: right; padding: 0.75rem 1.2rem; color: #ff1100; transition: background-color 0.4s ease}
.card-close:hover{background-color: red; color: black;font-weight: 800;}
.flow-right{ float: right; }
.flow-left { float: left; }
.card-hold { text-align: center; padding: 0.1rem 1rem; }
.editable-input {text-align: center; max-width: 95%; float: right; border-radius: 0.5em; border-style: hidden; margin: 0.2rem 0rem; padding: 0;}
.addTrade{
  border-radius: 4rem!important;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: inline;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: #fff;
  background: #16a735bf;
  line-height: 46px;}
.addTrade:hover{cursor: pointer; background-color: #4CAF50;color: #fff;}




/* Slider One */

.slidecontainer {
  display: flex;
  width: 100%;
}

.slider {
  margin-top: 11px;
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.6;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #009688;
  /* cursor: pointer; */
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #009688;
  cursor: pointer;
}

.slidecontainer > input{
  margin-top: 0.15rem;
  height: 2rem;
  text-align: center;
  background: #00259236;
  border-radius: 5px;
  border-style: none;
}


.hoverX{
  font-weight: 800;
  color: #3b61d1;
}


/* Slider one end */
.rangeSlider:hover > :first-child{
  opacity: 1;
  background: #009688;
}

.rangeSlider:hover > :last-child{
  font-weight: 800;
}
