<div class="examPage">
  <div class="header">
    <div class="buttons" id="homePageButtons">
      <button onclick="btnClick('homePage','dashboard')">Dashboard</button>
      <button onclick="btnClick('dashboard','logout')">Logout</button>
    </div>
    <div id="homePageText" class="headText">Student Home Page:</div>
  </div>

  <div class="examPageOutput" id="outputHomePage">
    <div id="examPageOutputHead" class="examPageOutputHead"></div>
    <div id="examPageOutputBody" class="examPageOutputBody"></div>
  </div>
  <div style="height: 2%;">
  </div>
</div>


<!-- <div ng-controller="homepage">
  <h2 id="bigOne">Student Home Page: {{userType}}</h2>
  <div>
    <button ng-click="testPaper()">TestPaper</button>
    <button ng-click="profile()">Profile</button>
    <button ng-click="progress()">Progress</button>
  </div>

<br>
  <div id="output" ng-bind-html="output"></div>
</div> -->
