<div class="examPage">
  <div class="header">
    <div id="homePageText" class="headText">Student Home Page:</div>
    <div class="buttons" id="homePageButtons">
      <button onclick="btnClick('homePage','dashboard')">Dashboard</button>
      <button onclick="btnClick('dashboard','logout')">Logout</button>
    </div>
  </div>

  <div class="examPageOutput" id="outputHomePage">
    <div id="examPageOutputHead" class="examPageOutputHead"></div>
    <div id="examPageOutputBody" class="examPageOutputBody"></div>
  </div>
  <div style="height: 2%;">
  </div>
</div>
