<div class="form-signin  text-center starter-template">
  <img class="mt-4" src="./css/logo.gif" alt="" width="90" height="90">
  <h1 class="h2 mt-3 mb-4 font-weight-normal">Online Test Series<br>Login</h1>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" value="vishan@gmail.com" required autofocus>
  <input type="password" id="inputPassword" class="form-control mt-2" placeholder="Password" value="0987654" required>
  <button class="btn btn-lg btn-primary w-50 mt-3" onclick="doLogin()">Sign in</button>
  <p class="mt-5 mb-3 text-muted">ForestRangeOffice.Com <br>&copy; 2020-2021</p>
</div>
