.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}


html, body { height: 100%; }

body {
  /* display: -ms-flexbox;
  display: -webkit-box;
  display: flex; */
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.text-muted{
  /* font-weight: 600; */
  color: rgba(57, 115, 146, 0.6)!important;
}
.btn-intro{
    color: #fff;
    background-color: #00BCD4;
    border-color: #00BCD4;
}

.modal-show{
  opacity: 1 !important;
  background: rgba(60, 60, 60, 0.5);
}
.modal-show .modal-dialog{
  text-align: center;
  top: 100px;
  margin: 0 !important;
  max-width: 100vw !important;
  padding: 20vw;
}
@media (min-width: 320px) and (max-width: 480px) {
  .modal-show .modal-dialog{
    top: 175px;
    padding: 4vw;
  }
}
.modal-show .modal-content {
    border-radius: 10px;
}


.container{
  margin-top: 10px;
  /* background: blueviolet; */
  border-radius: 10px;
  /* top: -78px; */
  /* position: relative; */
}

.navbar{box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.38);}
.hideNavBar{display: none;}
.logoutBtn{
  border-radius: 10px;
    color: rgb(244, 67, 54);
    background-color: rgba(0, 0, 0, 0.3);
    background-image: none;
    border-color: rgb(244, 67, 54);
    border-width: 2px;
    margin-left: 20px;
  }
  .backBtn{
    border-radius: 10px;
      color: rgb(76, 175, 80);
      background-color: rgba(0, 0, 0, 0.3);
      background-image: none;
      border-color: rgb(76, 175, 80);
      border-width: 2px;
    }





.resultText{
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
  padding: 5px;
  margin: -2rem -2rem 1rem -2rem;
}



.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 5px 5px 20px 0px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-top: 45px;
  background:rgb(255, 255, 255);
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1), 2px 2px 7px 0px rgba(0, 0, 0, 0.1);
}
.form-signin .form-control:focus { z-index: 2; }


.btn{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 5px 5px 20px 0px rgba(0, 0, 0, 0.19);
}

.w-20{ margin: 10px; width: 116px;}
.w-30{ width: 30%; }
.w-50{ width: 50%; }
.w-70{ width: 70%; }




/* h3 {
  margin-top: 2rem;
} */

.row {
  margin-bottom: 1rem;
  padding: 3rem 1.5rem;
  margin-top: 1rem;
  /* margin-bottom: 0; */
}

.custom-control {
  position: relative;
  display: block;
  padding-left: 2rem;
}
.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-control-label {
  font-size: 1.15rem;
  margin-bottom: 1rem;

}
.custom-control-label::before {
  width: 1.2rem;
  height: 1.2rem;
  top: 4px;
  position: absolute;
  left: 0px;
  display: block;
  pointer-events: none;
  content: "";
}
.custom-control-label::after {
  width: 1.2rem;
  height: 1.2rem;
  top: 4px;
  position: absolute;
  left: 0;
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.mainReset{
  max-width: 99vw;
}

.questionCard{padding: 0;}
.quesText{
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.quesCard{
  color: rgb(0, 65, 97);
  border-radius: 1rem;
  background: rgb(255, 255, 255);
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 5px 5px 20px 0px rgba(0, 0, 0, 0.19);
}
.questionPad{
  display: block;
  /* padding-left: 1.5rem; */
}

.quesTable{
  padding: 20px;
  border-radius: 10px;
  background: white;
  /* margin-top: 4rem; */
  display: block;
  box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.23);
  text-align: center;
}
.quesTableSubmit{
	color: white;
  border: none;
  cursor: pointer;
  font-family: 'Raleway', sans-seriff;
  transition: 0.25s;
  box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.23);
  padding: 7px 36px;
  font-size: 2rem;
  background-image: linear-gradient(19deg, #9da92c 0%, #69b313 100%);
  margin: 1rem;
  border-radius: 12px;
}

.cells{
  margin: 3px;
  display: inline-block;
  background: rgb(28, 117, 187);
  padding: 6px 16px;
  border-radius: 10px;
  color: #fff;
}

.checkedQues{}
.checkedQues input{display: none;}
.checkedQues label{margin-left: -1rem;}
.checkedQues label::before , .checkedQues label::after { display: none; }


.attempetedCell{background: rgb(0, 188, 212);}
.skippedQues{background: rgb(28, 117, 187);}
/* rgb(255, 152, 0); */
.skippedCell, .skippedQues{background: rgb(255, 152, 0);}

.correctCell, .correctQues{background: rgb(76, 175, 80);}
.incorrectCell, .incorrectQues{background: rgb(233, 30, 99);}

.correctQues, .incorrectQues, .skippedQues{
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-radius: 10px;
  margin-left: -2rem !important;
}










/* Loading Animation */
#loading-text{
  color: #1583e4;
  font-size: 1.5rem;
}
#loading-bar-spinner.spinner {
  z-index: 19 !important;
  animation: loading-bar-spinner 900ms linear infinite;
  display: inline-block;
}

#loading-bar-spinner.spinner .spinner-icon {
  width: 40px;
  height: 40px;
  border: solid 4px rgba(255, 255, 255, 0);
  border-top-color: #2196F3 !important;
  border-bottom-color: #8BC34A !important;
  border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
/* Loading Animation */
