html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    color: #666;
    background: #F6F6F6;
}

body{
  margin: 0px;
}

.card{
    min-width: 90vw;
    min-height: 83vh;
    margin: 4%;
    background: #F6F6F6;
    border-radius: 20px;
    box-shadow:2px 2px 10px 10px #cecece;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .5);
}

.heading{
  border-radius: 20px 20px 0px 0px;
  font-size: 85px;
  text-align: center;
  background: #46a2e8;
  color: white;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.textHead{
  border-radius: 20px 20px 0px 0px;
  font-size: 50px;
  height: 80px;
  color: #101f27;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  text-align: center;
}

.reportShow{
  padding: 10px;
  min-height: 350px;
  border-radius: 0px 0px 20px 20px;
}

.detailText{
  font-size: 40px;
}

.mainCard{
  display: flex;
  margin-top: 50px;
  padding-left: 4%;
  flex-wrap: wrap;
}

.subCard{
  box-shadow: 0px 0px 20px 0px #b9b7b7;
  border-radius: 20px;
}

.cardRef{
  width: 44%;
  margin: 3% 2% 3% 2%;
  color: inherit;
  cursor: inherit;
  text-decoration: inherit;
}
